<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Menu</title>
</head>
<body>
	<div>
		<a th:href="@{/formCategoria}">
			<input class="add-buttom" type="submit"  value="Ingresar Categoria">
		</a>
		<br>
		<a th:href="@{/formLibro}">
			<input class="add-buttom" type="submit"  value="Ingresar Libro">
		</a>
		<br>
		<a th:href="@{/listado}">
			<input class="add-buttom" type="submit"  value="Ver Libros">
		</a><br>
		
		<h3 th:text="${message}"></h3>
		<h3 th:text="${message2}"></h3>
	</div>
	
	
			

</body>
</html>