<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Agregar Categoria</title>
</head>
<body>
	<div>
	<form th:action="@{/guardarCategoria}" th:object="${categoria}" method="post">
	
		    	<label>Nombre Categoria:</label><br>
			    <input type="text" th:field="*{categoria}" placeholder=" "><br> 
			    <span th:errors="*{categoria}" style="color: #E81505"></span><br><br>
			    
			    <input class="add-buttom" type="submit"  value="Guardar Categoria">
	</form>
	</div>

</body>
</html>