<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Agregar libro</title>
</head>
<body>
<h1>Registrar contribuyente</h1>
		<div class="form-container">
			<form th:action="@{/guardarLibro}" th:object="${libro}" method="post">
			
				<input type="hidden"  th:field="*{libro_id}" >
	
		    	<label>Titulo:</label><br>
			    <input type="text" th:field="*{titulo}" placeholder=" "><br> 
			    <span th:errors="*{titulo}" style="color: #E81505"></span><br><br>
		
			    <label>Autor:</label><br>
			    <input type="text" th:field="*{autor}" placeholder=" "> <br>
			    <span th:errors="*{autor}" style="color: #E81505"></span><br><br>
		
			    <label>ISBN:</label><br>
			    <input type="text" th:field="*{isbn}" placeholder=" "><br> 
			    <span th:errors="*{isbn}" style="color: #E81505"></span><br><br>

					<label>Categoria:</label> 
						<select th:field="*{categoria.categoria_id}">
							<option th:each="categoria : ${categorias}"
								th:value="${categoria.categoria_id}"
								th:text="${categoria.categoria}">
							</option>
						</select>
				<br> <br>
				 <label>Estado:</label><br>
				<input type="checkbox" id="bestado"  th:field="*{estado}" >Activo

			<div class="buttom-container">
					<input class="add-buttom" type="submit"  value="Guardar">
			    </div>
			</form>
			
			<br/>
			<div class="buttom-container">
				<a th:href="@{/listado}">
					<input class="back-buttom" type="submit"  value="Ver contribuyentes" >
				</a>
			 </div>
		</div>

</body>
</html>